<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sumer.finance</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <section class="section">
    <div class="container">
      <div class="columns">
        <%- include('section/user'); %>
        <div class="column container">
          <% if (page == "pool") { %><%- include('section/pool'); %>
          <% } else if (page == "home") { %><%- include('section/home'); %>
          <% } %>
        </div>
      </div>
    </div>

    <div class="modal" id="cardmodal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image">
                <img id="cardmodal-img" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="tabs is-fullwidth is-centered is-boxed" style="margin-bottom: -1px">
                <ul>
                  <li id="cardmodal-tab-1" onclick="return openCardModal(1);">
                    <a><span>Info</span></a>
                  </li>
                  <li id="cardmodal-tab-2" onclick="return openCardModal(2);">
                    <a><span>Level</span></a>
                  </li>
                  <li id="cardmodal-tab-3" onclick="return openCardModal(3);">
                    <a><span>Value</span></a>
                  </li>
                </ul>
              </div>
              <div id="cardmodal-content-1"></div>
              <div id="cardmodal-content-2"></div>
              <div id="cardmodal-content-3"></div>
            </div>
          </article>
        </div>
      </div>
    </div>

    <div class="modal" id="m-alert">
      <div class="modal-background"></div>
      <div class="modal-card" id="m-card"></div>
    </div>

    <%- include('section/help'); %>
  </section>
  <script>
    const user = JSON.parse(`<%- JSON.stringify(user) %>`);

    function getAll(selector) {
      return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
    }

    var $modalCloses = getAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button');
    if ($modalCloses.length > 0) {
      $modalCloses.forEach(function ($el) {
        $el.addEventListener('click', function () {
          getAll('.modal').forEach(function ($m) {
            $m.classList.remove('is-active');
          });
          document.documentElement.classList.remove("is-clipped");
        });
      });
    }

    function openAlert() {
      var $target = document.getElementById("m-alert");
      $target.classList.add('is-active');
      document.documentElement.classList.add("is-clipped");
    }

    function showProcessBar() {
      document.getElementById("m-card").innerHTML = `
        <header class="modal-card-head">
          <p class="modal-card-title">Submit transaction</p>
        </header>
        <section class="modal-card-body">
          <progress class="progress is-medium is-dark" max="100">45%</progress>
        </section>
      `;
      openAlert();
    }

    function showError(message) {
      document.getElementById("m-card").innerHTML = `
        <header class="modal-card-head">
          <p class="modal-card-title">Submit error</p>
        </header>
        <section class="modal-card-body">
          ${message}
        </section>
      `;
      openAlert();
    }

    function requestPayout(poolName, value) {
      let html = `<header class="modal-card-head">
                  <p class="modal-card-title">Request payout</p>
                </header>`;
      if (Math.floor(value) >= 1) {
        html += `<section class="modal-card-body">
                  <ul>
                    <li><b>${value} DEC</b> from pool <b>${poolName}</b> will be send to your in-game account <b>${user.userName}</b></li>
                  </ul>
                </section>
                <footer class="modal-card-foot">
                  <button onclick="return sendPayout('${poolName}');" class="button is-success">Confirm</button>
                </footer>`;
      } else {
        html += `<section class="modal-card-body">
                  <ul>
                    <li>Your balance in pool <b>${poolName}</b> must be at least 1 DEC to send payout request.</li>
                    <li>Your current balance: <b>${value} DEC</b></li>
                  </ul>
                </section>`;
      }
      document.getElementById("m-card").innerHTML = html;
      openAlert();
    }

    function sendPayout(poolName) {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          let rs = JSON.parse(this.responseText);
          if (rs.success) {
            location.reload();
          } else {
            showError(rs.message);
          }
        }
      };
      xhttp.open("POST", `/sumer/@${poolName}/payout`, true);
      xhttp.send();
    }
  </script>
</body>

</html>